
body {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


#allcomments {
  margin-top: 40px;
  text-align: left;
}

#allcomments input[type='text'],
#allcomments input[type='email'], 
#allcomments textarea {
  margin-bottom: 10px;
  display: block;
  width: 80%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

input[type=submit] {
  background-color: #f2f2f2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #ccc;
}


h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 150px;
	line-height: .75;
	margin: 10px 0;
}

#content a{
    color: #fefefe
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background: black;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #333
  
}


h3{
    font-size: 28pt;
    overflow: hidden;
    color: #f2f2f2;
}

p {
    font-size: 18pt;
}


/*background: linear-gradient(309deg, #FFF033 63%, #FF7034 63%);*/

