/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background: black;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #333
  
}

body{
    background-color: #1a1a1a;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}


img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  background-color: #1a1a1a;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.prev{
    left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
